.header {
  grid-area: header;
  background-color: #ee964c;
}

.header .name {
  float: left;
  width: 200px;
  text-align: center;
}

.loginBlock {
  float: right;
  margin: 14px;
}

.loginBlock a {
  color: black;
  text-decoration: none;
}
