.app-wrapper {
  display: grid;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}

.header {
  grid-area: header;
  background-color: green;
}
.header img {
  width: 40px;
}

.nav {
  grid-area: nav;
  background-color: orange;
}

.content {
  grid-area: content;
  background-color: pink;
}
